template(name='goalNew')
  form.form-horizontal(role="form")
    .form-group
      label.control-label.col-sm-2(for='title') Title
      .col-sm-10
        input.form-control(name='title' type='text' value=title placeholder='Name your goal')
    .form-group
      label.control-label.col-sm-2(for='description') Description
      .col-sm-10
        textarea.form-control(name='description' type='text' value=description)
    .form-group
      label.control-label.col-sm-2(for='parentGoalId') Parent Goal
      .col-sm-8
        select.form-control(name='parentGoalId' value=parentGoalId)
          option
          each goals
            option(value=_id)= title
      .col-sm-2
        .input-group
          input.form-control(name='pctOfParentGoal' type='text' maxlength='3'
            value=pctOfParentGoal disabled='true')
          span.input-group-addon %
    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-primary(type='submit' value='Submit')
