template(name='goalEdit')
  form.form-horizontal(role="form")
    .form-group
      label.control-label.col-sm-2(for='title') Title
      .col-sm-10
        input.form-control(name='title' type='text' value=title
          placeholder='Name your goal')
    .form-group
      label.control-label.col-sm-2(for='description') Description
      .col-sm-10
        textarea.form-control(name='description' type='text')
          =description
    .form-group
      label.control-label.col-sm-2(for='parentGoalId') Parent Goal
      .col-sm-8
        select.form-control(name='parentGoalId' value=parentGoalId)
          option
          each parentGoals
            option(value=_id selected="{{selectedGoal ../parentGoalId}}")= title
      .col-sm-2
        .input-group
          input.form-control(name='pctOfParentGoal' type='text' maxlength='3'
            value=pctOfParentGoal disabled="{{pctOfParentGoalDisabled}}")
          span.input-group-addon %
    .form-group
      label.control-label.col-sm-2(for='pctCompleted') Completed
      .col-sm-2
        .input-group
          input.form-control(name='pctCompleted' type='text' maxlength='3'
            value=pctCompleted)
          span.input-group-addon %
    .form-group
      .col-sm-offset-2.col-sm-10
        .progress.progress-striped.active
          .progress-bar.progress-bar-success(role="progressbar"
            aria-valuenow="{{pctCompletedLive}}" aria-valuemin="0"
            aria-valuemax="100" style="width: {{pctCompletedLive}}%")
    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-primary(type='submit' value='Submit')
